img {
    height: 25vh;
    width: 100%;
    object-fit: cover;
}

ul {
    width: 100%;
}

li.white-space {
    margin: auto;
}

li.nav-item {
    margin: 2px;
}

main {
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    padding: 1rem 0
}

footer {
    background-color: rgb(248, 249, 250);
    padding: 0.5rem
}

.delete{
    display: none;
    width: 2rem;
    height: 2rem;
    background-color: lightgray;
    opacity: 0.8;
    position: absolute;
    top: -1rem;
    right: 0;
    z-index: 1;
    border-radius: 100%;
}

.cross {
    /* display: none; */
    font-size: 1rem;
    padding: 0 calc(3rem / 32);
    vertical-align: middle;
    transform: rotate(45deg);
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   25% { transform: rotate(0.5deg); }
   50% { transform: rotate(0deg); }
   75% { transform: rotate(-0.5deg); }
  100% { transform: rotate(0deg); }
}
