<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- New counter modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Add new counter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form" action="">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="..." required>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" placeholder="..." required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
            <input type="submit" form="form" class="btn btn-primary" value="Save changes"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this counter?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="confirm">OK</button>
          </div>
        </div>
      </div>
    </div>

    <header>
      <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">Ilongga</a>

          <!-- Radio buttons -->
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" value="counter" autocomplete="off" checked> All
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" value="alive" autocomplete="off"> Future
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" value="expired" autocomplete="off"> Past
            </label>
          </div>

          <!-- Button trigger modal -->
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
              Add new
            </button>
            <span class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-danger">
                <input type="checkbox" id="delete" autocomplete="off"> Delete
              </label>
            </span>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <h1>Hello, world!</h1>
        <div class="row" id="output"></div>
      </div>
    </main>

    <footer>
      <center>K. Matolcsy 2019</center>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/582f801c15.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>